body{
  background-color: rgba(255, 245, 210, 0.726);
}

.logo{
  font-size:50px;
  font-weight:bolder;
  letter-spacing:10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}


nav{
  display:flex;
}

nav ul{
  display:flex;
  list-style: none;
  text-align: center;
}

nav ul li a{
 text-decoration:none;
 color:black;
 font-size:25px;
 font-weight: bold;
 padding:8px;
}

nav ul li{
  display: flex;
  justify-content:space-around;
  padding:0px 90px;
}

li a:hover{
  background-color: rgb(188, 0, 0);
  color:white;
}




.welcome{
  text-align: center;
  background-color: rgb(200, 0, 0);
  padding:60px;
  color:white;
  margin-bottom: 30px;
}

.welcome h1{
  font-size: 60px;
}

.welcome p{
  font-size:20px;
}

.event{
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  padding:20px;
  margin:20px auto;
}

div #event{
  font-size:50px;
  letter-spacing:5px;
  color:rgb(235, 82, 55);
}

.e1{
  font-size:30px;
}

.detail{
  display:inline;
  background-color: rgb(255, 152, 41);
  color:white;
  border-radius:30px;
  padding:5px;
}




.abmenu{
  display:flex;
}

#menu{
  font-size:50px;
}

.sausages{
  text-align: center;
  background-color: white;
  border-radius:30px;
  padding:10px;
  margin:20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.king-cheese{
  text-align: center;
  background-color: white;
  border-radius:30px;
  padding:10px;
  margin:20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.hot-meatball{
  text-align: center;
  background-color: white;
  border-radius:30px;
  padding:10px;
  margin:20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.broccoli{
  text-align: center;
  background-color: white;
  border-radius:30px;
  padding:10px;
  margin:20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



.aside{
  font-size:30px;
  font-weight: bold;
}

.aside ul{
  list-style:none;
  display:flex;
  text-align: center;
}

.fry{
  background-color: white;
  padding:15px;
  border-radius:30px;
  margin:20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}



footer{
  background-color:rgb(65, 65, 65);
  text-align: center;
  font-size: 20px;
  padding:20px;
  color:white;
  margin-top:50px;
}
footer a{
  text-decoration:none;
  color:white;
}

.f{
  margin-top:100px;
}